@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: theme('fontFamily.body');
}

a {
  @apply text-primary hover:text-primary-dark transition-colors;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  font-family: theme('fontFamily.display');
}
